<mat-toolbar color = "primary">
  <mat-toolbar-row>
    <span>My App</span>

    <span class="example-spacer"></span>

    <div class="navlist">
      <mat-nav-list >
        <a mat-list-item  routerLink = ''>Home </a>
        <a mat-list-item  routerLink = '/products'>Products </a>
        <a mat-list-item  routerLink = '/signIn'>Sign In </a>
        <a mat-list-item  routerLink = '/signUp'>Sign Up </a>
        <a mat-list-item  routerLink = '/cart' >
          <mat-icon>shopping_cart</mat-icon>
       <span *ngIf=" _cartService.totalCartItems > 0">  {{ _cartService.totalCartItems}}</span>
        </a>
        <a mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <span>Logout</span>
          </button>

        </mat-menu>
     </mat-nav-list>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
