<div class="wrapper">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column">
      <div class="card">
        <mat-card>
          <div class="example-container">
            <h3 *ngIf="currentState === 'signin'; else elseBlock">Sign In</h3>
            <ng-template #elseBlock>
              <h3>Sign Up</h3>
            </ng-template>

            <form [formGroup]="userForm">
              <div fxFlex="100%">
                <mat-form-field class="example-full-width">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName = "username"/>
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName = "password" />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </form>

            <div class="submit">
              <button mat-raised-button color="primary" (click)="onSubmit()">
                <div *ngIf="currentState === 'signin'">
                  Sign In
                </div>
                <div *ngIf="currentState !== 'signin'">
                  Sign Up
                </div>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
