.img-block {
  display: block;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}
.mat-card {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
